<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 basics">
                Carlo Stearns<br />
                carlo.stearns at gmail dot com
            </div>
            <div class="col-sm-2 links">
                <a href="http://github.com/xegyn"><img src="/assets/github-icon.png" class="image-icon" /> xegyn</a><br />
                <a href="http://twitter.com/xegyn"><img src="/assets/twitter-icon.png" class="image-icon" /> xegyn</a>
            </div>
            <div class="col-sm-2 links">
                <a href="http://instagram.com/xegyn"><img src="/assets/instagram-icon.png" class="image-icon" /> xegyn</a><br />
            </div>
        </div>
    </div>
</footer>